
body, html {
  width: 100%;
  height: 200%;
  margin: 0;
}

.container {
  width: 100%;
  height: 200%;
}

.leftpane {
    width: 35%;
    height: 120%;
    float: left;
    background-color: #CFECEC;
    border-collapse: collapse;
}

.middlepane {
    width: 25%;
    height: 120%;
    float: left;
    background-color: #6AFB92;
    border-collapse: collapse;
}

.rightpane {
  width: 40%;
  height: 120%;
  position: relative;
  float: right;
  background-color: #FFF380;
  border-collapse: collapse;
}

.toppane {
  width: 100%;
  height: 25px;
  border-collapse: collapse;
  background-color: #E0FFFF;
}


